#bar-chart-svg {
  display: block;
  margin: auto;

  .axis-label {
    font-size: 0.66em;
    color: darkgray;
  }
}

.bar {
  fill: navy;

  &:hover {
    fill: gold;
  }
}
#tooltip {
  font-size: 1.25em;
  font-family: monospace;
}
