.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
#Q {
  grid-column: 1 / 3;
  grid-row: 1;
}
#W {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
#E {
  grid-column: 1;
  grid-row: 2 / 5;
}
#A {
  grid-column: 3;
  grid-row: 3;
}
#S {
  grid-column: 2;
  grid-row: 4;
}
#D {
  grid-column: 3;
  grid-row: 4;
}
#Z {
  grid-column: 3;
  grid-row: 3;
}
#X {
  grid-column: 2;
  grid-row: 4;
}
#C {
  grid-column: 3;
  grid-row: 4;
}
