:root {
  --content-margin: 12px;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  position: fixed;
  top: 0px;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  border-bottom: 2px darkgray solid;
  height: 50px;
}

#header-img {
  height: 48px;
  width: 48px;
  float: left;
}

nav#nav-bar {
  height: 100%;
}

nav ul#nav-list {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  font-weight: bold;
}

nav#nav-bar ul#nav-list li {
  list-style-type: none;
  display: inline;
  padding-right: 17px;
}

nav#nav-bar ul#nav-list li a {
  text-decoration: none;
  color: darkgray;
}

nav#nav-bar ul#nav-list li a:hover {
  text-decoration: none;
  color: black;
}

#hero {
  padding-top: 51px;
  margin: 0;
  width: 100%;
}

#hero {
  #video {
    width: 100%;
  }

  caption {
    display: flex;
    width: 100%;
    padding: 2px;
    line-height: 1.25;
  }
}

#hero #form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 var(--content-margin) -30px var(--content-margin);
}

#hero #form #email-label,
#hero #form #email {
  margin: 10px 0 5px 0;
}

main {
  max-width: 500px;
  margin: 0 auto;
  padding: var(--content-margin);
}

main .section {
  padding-top: 30px;
  margin: 0;
}

main .section p {
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 300px) {
  nav {
    font-size: small;
  }
}
